      <div id="content">
        <div id="content-main">
          <p>
            This site documents my research into the history of my
            wife&#39;s and my families.
          </p>
          <p>
            It covers a lot of ground (although I&#39;ve seen much
            more extensive collections), so I have organized the
            site into family groups. The group size is generally
            determined by the amount of information I have on each
            family. This way the individual pages are more
            readable.
          </p>
          <p>
            The diagram below shows the family groups I have
            created. Clicking on one of the groups will take you to
            a page dedicated to that group. You can also click on
            the navigation entries to the left.
          </p>
          <%= image_tag("familyblocks.png", :alt => "Oh well, use the links on the left") %>
          <p>
            I hope you enjoy exploring this site. My purpose in
            making the site is to help me visualize the results of
            my research and to make the results available to others
            with similar interests.
          </p>
          <p>
            In addition, I hope to get feed back on what I have
            done. So if you have comments, questions, suggestions
            or additions/corrections to the data I have provided,
            either leave an entry in the <a href=
            "guestbook.htm">guestbook</a> or you can email me at
          <%= mail_to "jhsgen@comcast.net", "jhsgen@comcast.net", :encode => "javascript" %>

          </p>
          <p>
            Thanks for visiting.
          </p>
        </div>
        <div id="content-side">
          <h3>
            Navigation
          </h3>List Of Names<br />
          <br />
          <a href="artifacts/HandTree.html">Sells Family Tree<br />
          (c. 1900(?), Pre-1930)</a><br />
          <br />
          Family Group Pages
          <ul style="list-style-type: none;">
            <li>Buttz
            </li>
            <li>Jones
            </li>
            <li>Lovellette
            </li>
            <li>Lyon
            </li>
            <li>Nichols
            </li>
            <li>Perronet/Briggs
            </li>
            <li>Schuman
            </li>
            <li><a href="families/sells/sells.html">Sells</a>
            </li>
            <li>Titus
            </li>
          </ul><br />
          GuestBook<br />
        </div>
        <div style="clear: both;"></div>
      </div>
