<header>
  <div id="header-left">
    Sells Nation<br />
    Genealogy
  </div>
  <div id="header-right">
  <%= image_tag("Rotating_globe-small.gif", :alt => "Pretend you see a globe.") %>
  Spanning the globe in search of family.
  </div>
  <div id="clear_both" style="clear: both;"></div>
</header>